* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
    background: white;
    font-family: 'Montserrat', serif;
}

body {
    background: linear-gradient(to bottom, #f0f8ff, #ffffff);
}

body header {
    position: relative;
    padding: 10vh 0;
    text-align: center;
    color: #36425b;
}

body header h1 {
    font-size: 3.5em;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

body header a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8em;
    color: white;
    margin-top: 5vh;
    padding: 0.75em 1.25em;
    transition: 0.3s all;
    background: #a848d6;
    border-radius: 50em;
    box-shadow: 0 0.15em 0.5em rgba(123, 66, 144, 0.75);
    font-family: 'Montserrat', sans-serif;
}

body header a:hover {
    background: #883bad;
}

body main a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.8em;
    color: white;
    margin-top: 2vh;
    padding: 0.75em 1.25em;
    transition: 0.3s all;
    background: #a848d6;
    border-radius: 50em;
    box-shadow: 0 0.15em 0.5em rgba(123, 66, 144, 0.75);
    font-family: 'Montserrat', sans-serif;
}

body main a:hover {
    background: #883bad;
}

audio {
    margin-bottom:20px;
}

body main {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

body table, td {
    padding: 15px;
    align-items: center;
    border: 0px solid;
    text-align: center;
    font-size: 12px;
}

#myCanvas{
    background-color: #ffcc7d;
    border-radius: 25px;
}

.syncbg{
    width: 317px;
    height: 317px;
    border-radius: 25px;
}

.drawing-container{
    width: 317px;
    height: 317px;
    outline-style: solid;
    outline-width: thin;
    border-radius: 25px;
    margin-bottom: 20px;
    background: #ffcc7d;
}

.image-container-completed{
    width:600px;
    height: 490px;
    border-radius: 25px;
}

.image-container-completed img {
    border-radius: 25px;
    display: block;
    width:580px;
    margin-left: auto;
    margin-right: auto;

}

.image-container-completed p {
    margin:13px;
}

.image-container{
    width:600px;
    height: 400px;
    border-radius: 25px;
}

.image-container img {
    border-radius: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.image-container p {
    margin:13px;
}

.theme-container button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 0.95em;
    color: #36425b;
    outline: none;
    background: #e4f1ff;
    border: none;
    border-bottom: 2px solid rgba(80, 139, 234, 0.67);
    padding: 0.6em 0.8em 0.5em;
    cursor: pointer;
    transition: all 0.3s;
    margin: 0 0.5em;
    opacity: 0.45;
    text-transform: capitalize;
}

.theme-container button.active {
    opacity: 1;
}

.theme-container h3 {
    font-weight: 500;
    color: #36425b;
}

main > p {
    margin-top: 0.35em;
    font-size: 0.75em;
    font-weight: 500;
    color: #42445a;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {
    body header {
        font-size: 0.6em;
        padding: 7vh 0;
    }

    body header a {
        padding: 1em 2em;
        font-weight: 600;
        font-size: 1.05em;
    }

    main > section {
        min-width: 90%;
    }

    main > section h2 {
        font-size: 1em;
    }

    main > section pre {
        font-size: 0.9em;
    }

    main section.demo .hint svg {
        height: 1.2em;
    }

    main section.demo .hint span {
        transform: translate3d(-3em, -1.4em, 0);
        font-size: 0.6em;
    }
}
